<template>
    <div id="page-forms">
        <v-card>
            <v-card-text>
                <v-form v-model="valid" ref="form" lazy-validation>
                    <v-layout row wrap>
                        <v-flex lg12 sm12>
                            <v-text-field label="Title" ref="title" name="title" v-model="title">
                            </v-text-field>
                        </v-flex>
                        <v-flex sm6 lg12>
                            <v-menu class="pr-2" ref="statDate" lazy :close-on-content-click="false" v-model="startDateMenu"
                                transition="scale-transition" offset-y full-width :nudge-bottom="-22" max-width="290px"
                                :return-value.sync="startDate">
                                <v-text-field slot="activator" label="Data" v-model="startDate" append-icon="event"
                                    readonly></v-text-field>
                                <v-date-picker v-model="startDate" no-title scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn flat color="primary" @click="startDateMenu = false">Cancel</v-btn>
                                    <v-btn flat color="primary" @click="$refs.statDate.save(startDate)">OK</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-flex>
                        <v-flex lg12 sm12>
                            <v-textarea label="Opis projektu">

                            </v-textarea>
                        </v-flex>
                        <v-spacer></v-spacer>
                    </v-layout>
                </v-form>
            </v-card-text>
            <v-card-actions class="pb-3">

                <v-spacer></v-spacer>
                <v-btn @click="viewProjects" v-if="stored == true" flat color="primary">Zobacz projekty <v-icon color="primary"
                        x-large light>chevron_right</v-icon>
                </v-btn>
                <v-btn color="info" :loading="loading4" @click="getFormValues" @click.native="loader = 'loading4'"
                    :disabled="loading4">
                    {{ button }}
                    <v-icon dark right>{{ buttonIcon }}</v-icon>
                    <span slot="loader" class="custom-loader">
                        <v-icon light>cached</v-icon>
                    </span>
                </v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        data: () => ({
            button: "Zapisz",
            buttonIcon: "exit_to_app",
            title: null,
            valid: true,
            date: null,
            startDateMenu: false,
            startDate: null,
            modal: true,
            loader: null,
            loading4: false,
            stored: false
        }),
        methods: {
            viewProjects: function () {
                this.$router.push("/projects/display");
            },
            load() {
                this.loading4 = false;
            },
            getFormValues() {
                // if (this.stored == true) { @TODO
                //     return;
                // }
				
                this.loading4 = true;
                let self = this;

                axios({
                        method: "post",
                        url: "http://crm.io/api/saveproject",
                        data: {
                            name: this.title
                        }
                    })
                    .then(function (response) {
                        self.loading4 = false;
                        self.button = "Zapisano";
                        self.buttonIcon = "done";
                        self.stored = true;
                        setTimeout(function () {
                            self.button = "dodaj nowy";
                            self.buttonIcon = "exit_to_app";
                        }, 2000);
                    })
                    .catch(error => {
                        self.loading4 = false;
                        self.button = "Błąd";
                        self.buttonIcon = "close";

                        self.title = null;
                    });
            }
        }
    };

</script>


<style>
    .custom-loader {
        animation: loader 1s infinite;
        display: flex;
    }

    @-moz-keyframes loader {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes loader {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @-o-keyframes loader {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes loader {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

</style>
