<template>
    <div id="pageTable">
        <v-container grid-list-xl fluid>
            <v-layout row wrap>
                <v-flex lg12>
                    <v-card>
                        <v-toolbar card color="white">
                            <v-text-field flat solo prepend-icon="search" placeholder="Szukaj" v-model="search"
                                hide-details class="hidden-sm-and-down"></v-text-field>
                            <v-tooltip top>
                                <v-btn slot="activator" @click="addproject" icon>
                                    <v-icon>playlist_add</v-icon>
                                </v-btn>
                                <span>Dodaj projekt</span>
                            </v-tooltip>

                        </v-toolbar>
                        <v-divider></v-divider>
                        <v-card-text class="pa-0">
                            <template v-if="!items">
                                <v-progress-linear :indeterminate="true"></v-progress-linear>
                            </template>
                            <v-data-table v-if="items" :headers="complex.headers" :search="search" :items="items"
                                :rows-per-page-items="[10,25,50,{text:'All','value':-1}]" class="elevation-1" item-key="name"
                                v-model="complex.selected">
                                <template slot="items" slot-scope="props">
                                    <tr>
                                        <td>
                                            <v-avatar size="32">
                                                <img :src="props.item.avatar" alt="">
                                            </v-avatar>
                                        </td>
                                        <td @click="viewProject(props.item.id)">
                                            <span>
                                                {{ props.item.name }}
                                            </span>
                                        </td>
                                        <td @click="viewProject(props.item.id)">{{ props.item.email }}</td>
                                        <td @click="viewProject(props.item.id)">{{ props.item.phone }}</td>
                                        <td>
                                            <v-flex justify-end style="display:flex;">
                                                <v-btn flat icon color="primary">
                                                    <v-icon>edit</v-icon>
                                                </v-btn>
                                                <v-btn @click="deleteProject" :data-id="props.item.id" flat icon color="red">
                                                    <v-icon>delete</v-icon>
                                                </v-btn>
                                            </v-flex>
                                        </td>
                                    </tr>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                search: "",
                items: null,
                complex: {
                    selected: [],
                    headers: [{
                            text: "Pracownicy",
                            value: "avatar"
                        },
                        {
                            text: "Projekt",
                            value: "name"
                        },
                        {
                            text: "Email",
                            value: "email"
                        },
                        {
                            text: "Status",
                            value: "phone"
                        },
                        {
                            text: "",
                            value: ""
                        }
                    ]
                }
            };
        },
        mounted() {
            this.getProjects();
        },
        methods: {
            addproject: function () {
                this.$router.push("/projects/add");
            },
            viewProject(id) {
                this.$router.push("/projects/display/" + id);
            },
            deleteProject: function (event) {
                var self = this;
                var project = event.target.dataset.id;
                axios({
                    method: "post",
                    url: "http://crm.io/api/deleteproject",
                    data: {
                        project: project
                    }
                }).then(function (response) {
                    self.getProjects();
                });
            },
            getProjects: function () {
                var self = this;
                axios.get("http://crm.io/api/getprojects").then(
                    response => {
                        this.items = response.data;
                        if (this.items.length == false) {
                            this.$router.push("/projects/add");
                        }
                    },
                    error => {
                        console.error("Blad api");
                    }
                );
            }
        }
    };

</script>
