<template>
    <div id="page-toolbars">
        <v-container grid-list-xl fluid>
            <v-layout row wrap>
                <!-- main -->
                <v-flex xs12 lg12>
                    <v-toolbar dark color="primary" flat extended>
                        <v-tooltip bottom>
                            <v-btn @click="listProjects()" flat icon slot="activator" color="white">
                                <v-icon>arrow_back</v-icon>
                            </v-btn>
                            <span>Cofnij</span>
                        </v-tooltip>
                        <v-toolbar-title>
                            {{ project.name }}
                            <v-progress-circular v-if="!project.name" :size="20" :width="2" color="white" indeterminate></v-progress-circular>
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-layout row pb-2>
                        <v-flex xs8 lg12>
                            <v-card class="card--flex-toolbar">
                                <v-toolbar class="" flat card prominent>
                                    <v-btn @click="changeView('all')" color="primary" flat>
                                        <span>Projekt</span>
                                        <v-icon right>home</v-icon>
                                    </v-btn>
                                    <v-btn @click="changeView('tasks')" color="primary" flat>
                                        <span>Zadania</span>
                                        <v-icon right>format_list_numbered</v-icon>
                                    </v-btn>

                                    <v-btn @click="changeView('design')" color="primary" flat>
                                        <span>Grafika</span>
                                        <v-icon right>border_color</v-icon>
                                    </v-btn>
                                    <v-btn @click="changeView('chat')" color="primary" flat>
                                        <span>Dyskusja</span>
                                        <v-icon right>chat_bubble_outline</v-icon>
                                    </v-btn>
                                    <v-btn @click="changeView('files')" color="primary" flat>
                                        <span>Pliki</span>
                                        <v-icon right>attachment</v-icon>
                                    </v-btn>
                                    <v-btn @click="changeView('activity')" color="primary" flat>
                                        <span>Aktywność</span>
                                        <v-icon right>history</v-icon>
                                    </v-btn>
                                </v-toolbar>
                            </v-card>

                        </v-flex>

                    </v-layout>
                </v-flex>

                <v-flex xs12 class="project__tasks project__section" v-if="state == 'all' || state == 'tasks'">
                    <v-toolbar dark dense color="white">
                        <v-toolbar-title class="primary--text widget__heading">
                            <v-icon left color="primary">format_list_numbered</v-icon>
                            Zadania
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary">
                            <span>nowe zadanie</span>
                            <v-icon right>add</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <div v-if="loading.tasks" style="margin:30px auto;width:70px;">
                        <v-progress-circular :size="70" :width="7" color="primary" indeterminate></v-progress-circular>
                    </div>
                    <v-expansion-panel v-if="!loading.tasks">
                        <v-expansion-panel-content hide-actions v-for="(message, i) in messages" :key="i" style="padding:7px 0;">
                            <v-layout align-center row spacer slot="header">
                                <v-flex xs4 sm2 md1>
                                    <v-avatar size="36px" slot="activator">
                                        <img src="/static/avatar/me.jpeg" alt="" v-if="message.avatar">
                                        <v-icon :color="message.color" v-else>{{ message.icon }}</v-icon>
                                    </v-avatar>
                                </v-flex>

                                <v-flex md2 class="added__people">
                                    <div v-for="(addedTo, i) in message.people" :key="i">
                                        <v-avatar size="36px" style="margin-right:10px;" slot="activator">
                                            <img src="/static/avatar/me.jpeg" alt="" v-if="addedTo.avatar">
                                        </v-avatar>
                                    </div>
                                </v-flex>
                                <v-flex no-wrap>
                                    <strong v-html="message.title" />
                                </v-flex>
                                <v-flex class="task__action__btn xs2" no-wrap>
                                    <v-btn flat icon color="primary">
                                        <v-icon>chat_bubble_outline</v-icon>
                                        <v-badge right color="red" class="shift__badge">
                                            <span slot="badge">{{ i+1+i*2 }}</span>
                                        </v-badge>
                                    </v-btn>
                                    <v-btn flat icon color="primary">
                                        <v-icon>check</v-icon>
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn flat icon color="primary">
                                        <v-icon>delete_forever</v-icon>
                                    </v-btn>

                                </v-flex>
                            </v-layout>
                            <v-card>
                                <v-divider></v-divider>
                                <v-card-text v-text="lorem"></v-card-text>
                            </v-card>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-flex>
                <v-flex clas xs12 lg12 v-if="state == 'design' || state == 'all'">
                    <v-toolbar dark dense color="white" extended class="elevation-1">
                        <v-toolbar-title class="primary--text widget__heading elevation-0">
                            <v-icon left color="primary">border_color</v-icon>
                            Grafika
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary">
                            <span>Dodaj grafikę</span>
                            <v-icon right>add</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-layout row>
                        <v-flex xs12 lg12>
                            <v-card class="card--flex-toolbar">
                                <v-toolbar class="" flat card prominent>
                                    <v-btn @click="filterDesigns('all')" color="primary" flat>
                                        <span>Wszystkie</span>
                                        <v-icon right>view_comfy</v-icon>
                                    </v-btn>
                                    <v-spacer></v-spacer>
                                    <v-btn @click="filterDesigns('new')" color="primary" flat>
                                        <span>Nowe</span>
                                        <v-icon right>format_list_numbered</v-icon>
                                    </v-btn>

                                    <v-btn @click="filterDesigns('accepted')" color="green" flat>
                                        <span>Zaakceptowane 6/16</span>
                                        <v-icon right>border_color</v-icon>
                                    </v-btn>
                                    <v-btn @click="filterDesigns('rejected')" color="red" flat>
                                        <span>Odrzucone</span>
                                        <v-icon right>block</v-icon>
                                    </v-btn>
                                </v-toolbar>
                            </v-card>

                        </v-flex>

                    </v-layout>

                    <v-layout row wrap pb-2>
                        <v-flex sm12 lg4 v-for="(item,index) in designs.items" :key="index" v-if="item.status == designs.display || designs.display == 'all'">
                            <v-card class="design">
                                <img :src="item.image" alt="">

                                <v-card-title primary-title>
                                    <div>
                                        <span class="grey--text">
                                            <strong>{{ item.author }}</strong>
                                            {{item.created_at }}
                                        </span>
                                    </div>

                                </v-card-title>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-tooltip bottom>
                                        <v-btn :disabled="(item.status == 'declined' || item.status == 'accepted') ? true : false "
                                            v-if="item.status != 'accepted'" slot="activator" color="primary" flat>
                                            <v-badge color="primary" right>
                                                <v-icon>chat_bubble_outline</v-icon>
                                                <span slot="badge">6</span>
                                            </v-badge>
                                        </v-btn>
                                        <span>
                                            {{
                                            (item.status == 'declined' || item.status == 'accepted') ?
                                            "Projekt zaakceptowany lub odrzucony" :
                                            "Skomentuj design"
                                            }}
                                        </span>
                                    </v-tooltip>
                                    <v-tooltip bottom>
                                        <v-btn slot="activator" color="green" flat>
                                            <v-icon>check</v-icon>
                                        </v-btn>
                                        <span>
                                            {{
                                            (item.status == 'accepted') ?
                                            "Projekt zaakceptowany" :
                                            "Zaakceptuj projekt"
                                            }}
                                        </span>
                                    </v-tooltip>
                                    <v-tooltip bottom v-if="item.status != 'accepted'">
                                        <v-btn :disabled="(item.status == 'declined') ? true : false" slot="activator"
                                            color="red" flat>
                                            <v-icon>block</v-icon>
                                        </v-btn>
                                        <span>
                                            {{
                                            (item.status == 'declined') ?
                                            "Projekt odrzucony" :
                                            "Odrzuć projekt"
                                            }}
                                        </span>
                                    </v-tooltip>
                                </v-card-actions>

                            </v-card>
                        </v-flex>
                    </v-layout>

                </v-flex>

                <v-flex class="chat-room flex lg12 sm12 xs12 project__section" v-if="state == 'chat' || state == 'all'">
                    <v-toolbar dark dense color="white">
                        <v-toolbar-title class="primary--text widget__heading">
                            <v-icon left color="primary">chat_bubble_outline</v-icon>
                            Czat projektu
                        </v-toolbar-title>
                        <v-spacer></v-spacer>

                        <v-btn icon>
                            <v-icon>edit</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-card>
                        <vue-perfect-scrollbar class="chat-room--scrollbar grey lighten-5">
                            <v-card-text class="chat-room--list pa-3">
                                <template v-for="(item, index) in chat.messages">
                                    <div v-bind:class="[ index % 2 == 0 ? 'reverse' : '']" class="messaging-item layout row my-4"
                                        :key="index">
                                        <v-avatar class="primary mx-1" size="40">
                                            <img v-bind:src="item.user.avatar" alt="">
                                        </v-avatar>
                                        <div class="messaging--body layout column mx-2">
                                            <p :value="true" v-bind:class="[ index % 2 == 0 ? 'primary primary--text widget__heading' : 'white']"
                                                class="pa-2">
                                                {{item.text}}
                                            </p>
                                            <div class="caption px-2 text--secondary">{{new
                                                Date(item.created_at).toLocaleString()}}</div>
                                        </div>
                                        <v-spacer></v-spacer>
                                    </div>
                                </template>
                            </v-card-text>
                        </vue-perfect-scrollbar>
                        <v-card-actions>
                            <v-text-field full-width flat clearable solo append-icon="send" label="Type some message here">
                                <v-icon slot="append-icon">send</v-icon>
                                <v-icon slot="append-icon" class="mx-2">photo</v-icon>
                                <v-icon slot="append-icon">face</v-icon>
                            </v-text-field>
                        </v-card-actions>
                    </v-card>
                </v-flex>
                <v-flex lg6 class="people__in__project project__section" v-if="state == 'all'">
                    <v-card>
                        <v-toolbar dark dense color="white">
                            <v-toolbar-title class="primary--text widget__heading">
                                <v-icon left color="primary">person</v-icon>
                                Osoby w projekcie
                            </v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary">
                                <span>Edytuj osoby</span>
                                <v-icon right>person_add</v-icon>
                            </v-btn>
                        </v-toolbar>
                        <div v-if="!costs.items" style="margin:10px auto;width:70px;">
                            <v-progress-circular :size="70" :width="7" color="primary" indeterminate></v-progress-circular>
                        </div>
                        <v-list v-if="costs.items" two-line class="pa-0" v-for="(item, i) in chat.messages" :key="i">
                            <v-list-tile href="#">
                                <v-list-tile-action>
                                    <v-avatar size="36px">
                                        <img src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460" alt="Avatar">
                                    </v-avatar>
                                </v-list-tile-action>

                                <v-list-tile-content>
                                    <v-list-tile-title>Jan kowalski</v-list-tile-title>
                                    <v-list-tile-sub-title>project manager</v-list-tile-sub-title>
                                </v-list-tile-content>

                                <v-list-tile-content>
                                    <v-list-tile href="#">
                                        <v-list-tile-action>
                                            <v-icon color="primary">mail</v-icon>
                                        </v-list-tile-action>
                                        <v-list-tile-content>
                                            <v-list-tile-title>aliconnors@example.com</v-list-tile-title>
                                        </v-list-tile-content>
                                    </v-list-tile>

                                </v-list-tile-content>
                            </v-list-tile>

                        </v-list>
                        <v-list>
                            <v-divider inset></v-divider>

                            <v-list-tile href="#">
                                <v-list-tile-action>
                                    <v-icon color="primary">phone</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>(650) 555-1234</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile href="#">
                                <v-list-tile-action>
                                    <v-icon color="primary">mail</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>aliconnors@example.com</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>

                    </v-card>
                </v-flex>

                <v-flex lg6 class="project__costs project__section" v-if="state == 'all'">
                    <v-card>
                        <v-toolbar dark dense color="white">
                            <v-toolbar-title class="primary--text widget__heading">
                                <v-icon left color="primary">attach_money</v-icon>

                                Koszta
                            </v-toolbar-title>
                            <v-spacer></v-spacer>

                            <v-btn flat color="primary">
                                <span>Nowy wydatek</span>
                                <v-icon right>money_off</v-icon>
                            </v-btn>
                        </v-toolbar>
                        <div v-if="!costs.items" style="margin:10px auto;width:70px;">
                            <v-progress-circular :size="70" :width="7" color="primary" indeterminate></v-progress-circular>
                        </div>
                        <v-data-table v-if="costs.items" :headers="costs.headers" :items="costs.items"
                            :rows-per-page-items="[10,25,50,{text:'All','value':-1}]" class="elevation-1" item-key="name">
                            <template slot="items" slot-scope="props">
                                <tr>
                                    <td>
                                        <!-- <v-avatar size="32">
                                            <img :src="props.item.avatar" alt="">
                                        </v-avatar>
										 -->
                                        michal gwozdz
                                    </td>
                                    <td>
                                        <span>
                                            programowanie
                                        </span>
                                    </td>
                                    <td>1000</td>
                                    <td>
                                        <v-tooltip bottom>
                                            <v-icon v-if="!costs.zakre" slot="activator" color="red">money_off</v-icon>
                                            <v-icon v-if="costs.zakre" slot="activator" color="green">attach_money</v-icon>
                                            <span v-if="!costs.zakre">Niezaksięgowane</span>
                                            <span v-if="costs.zakre">Zaksięgowane</span>
                                        </v-tooltip>
                                    </td>
                                    <td>
                                        <v-flex justify-end style="display:flex;">
                                            <v-btn flat icon color="primary">
                                                <v-icon>edit</v-icon>
                                            </v-btn>
                                            <v-btn :data-id="props.item.id" flat icon color="red">
                                                <v-icon>delete</v-icon>
                                            </v-btn>
                                        </v-flex>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-card>
                </v-flex>

                <v-flex class="project__activities project__section" sm12 v-if="state == 'all' || state == 'activity'">
                    <v-toolbar dark dense color="white">
                        <v-toolbar-title class="primary--text widget__heading">
                            <v-icon left color="primary">history</v-icon>

                            Aktywność
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-widget>
                        <div slot="widget-content" class="">
                            <ol class="timeline timeline-point-lg">
                                <li class="timeline-block" v-for="(item, i) in activity.items" :key="i">
                                    <div class="timeline-content">
                                        <v-card dark :color="item.color">
                                            <v-card-text>
                                                {{ item.action }}
                                            </v-card-text>
                                        </v-card>
                                    </div>
                                    <div class="timeline-point">
                                        <v-avatar :color="item.color">
                                            <v-icon dark>check</v-icon>
                                        </v-avatar>
                                    </div>
                                    <div class="timeline-detail">
                                        <time datetime="2018" class="caption">{{ item.created_at }}</time>
                                        <p>{{ item.whom }}</p>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </v-widget>
                </v-flex>

                <v-flex lg12 class="project__files project__section" v-if="state == 'all' || state == 'files'">
                    <v-card>
                        <v-toolbar dark dense color="white">
                            <v-toolbar-title class="primary--text widget__heading">
                                <v-icon left color="primary">attachment</v-icon>
                                Pliki
                            </v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary">
                                <span>Dodaj plik</span>
                                <v-icon right>cloud_upload</v-icon>
                            </v-btn>
                        </v-toolbar>
                        <div v-if="!files.items" style="margin:10px auto;width:70px;">
                            <v-progress-circular :size="70" :width="7" color="primary" indeterminate></v-progress-circular>
                        </div>
                        <v-data-table v-if="files.items" :headers="files.headers" :items="files.items"
                            :rows-per-page-items="[10,25,50,{text:'All','value':-1}]" class="elevation-1" item-key="name">
                            <template slot="items" slot-scope="props">
                                <tr>
                                    <td>
                                        <v-icon>picture_as_pdf</v-icon>
                                    </td>
                                    <td>
                                        <span>
                                            programowanie
                                        </span>
                                    </td>
                                    <td>1000</td>
                                    <td>zaksięgowane</td>
                                    <td>
                                        <v-flex justify-end style="display:flex;">
                                            <v-btn flat icon color="primary">
                                                <v-icon>cloud_download</v-icon>
                                            </v-btn>
                                            <v-btn :data-id="props.item.id" flat icon color="red">
                                                <v-icon>delete</v-icon>
                                            </v-btn>
                                        </v-flex>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-card>
                </v-flex>
            </v-layout><!-- main -->
        </v-container>
    </div>
</template>

<script>
    import axios from "axios";
    import VWidget from "@/components/VWidget";
    import VuePerfectScrollbar from "vue-perfect-scrollbar";
    import VCircle from "@/components/circle/VCircle";

    import {
        getUserById
    } from "@/api/user";

    import {
        getChatById
    } from "@/api/chat";

    export default {
        components: {
            VWidget,
            VuePerfectScrollbar,
            VCircle
        },
        data() {
            return {
                id: this.$route.params.project,
                state: "all",
                messages: [{
                        avatar: "https://avatars0.githubusercontent.com/u/9064066?v=4&s=460",
                        name: "John Leider",
                        title: "Welcome to Vuetify.js!",
                        new: 1,
                        total: 3,
                        people: [{
                                avatar: "https://avatars0.githubusercontent.com/u/9064066?v=4&s=460",
                                name: "John Leider"
                            },
                            {
                                avatar: "https://avatars0.githubusercontent.com/u/9064066?v=4&s=460",
                                name: "John Leider"
                            }
                        ]
                    },
                    {
                        avatar: "https://avatars0.githubusercontent.com/u/9064066?v=4&s=460",
                        name: "John Leider",
                        title: "Welcome to Vuetify.js!",
                        new: 1,
                        total: 3,
                        people: [{
                                avatar: "https://avatars0.githubusercontent.com/u/9064066?v=4&s=460",
                                name: "John Leider"
                            },
                            {
                                avatar: "https://avatars0.githubusercontent.com/u/9064066?v=4&s=460",
                                name: "John Leider"
                            }
                        ]
                    }
                ],
                lorem: "Lorem ipsum dolor sit amet, at aliquam vivendum vel, everti delicatissimi cu eos. Dico iuvaret debitis mel an, et cum zril menandri. Eum in consul legimus accusam. Ea dico abhorreant duo, quo illum minimum incorrupte no, nostro voluptaria sea eu. Suas eligendi ius at, at nemore equidem est. Sed in error hendrerit, in consul constituam cum.",
                project: {},
                loading: {
                    tasks: true
                },
                costs: {
                    items: null,
                    zakre: true,
                    headers: [{
                            text: "Pracownik",
                            value: "avatar"
                        },
                        {
                            text: "Opis",
                            value: "name"
                        },
                        {
                            text: "Koszt",
                            value: "email"
                        },
                        {
                            text: "Status",
                            value: "phone"
                        },
                        {
                            text: "",
                            sortable: false,
                            value: ""
                        }
                    ]
                },
                files: {
                    items: null,
                    headers: [{
                            text: "Typ"
                        },
                        {
                            text: "Opis",
                            value: "name"
                        },
                        {
                            text: "Data dodania"
                        },
                        {
                            text: "Autor"
                        },
                        {
                            text: "",
                            sortable: false
                        }
                    ]
                },
                activity: {
                    items: [{
                            created_at: "Just now",
                            color: "red",
                            action: "Przekroczona ilosć projektów graficznych",
                            whom: "Monika Chrzan"
                        },
                        {
                            created_at: "30 min ago",
                            color: "teal",
                            action: "Odpowiedziała na zadanie ",
                            whom: "Anna Jankowska"
                        },
                        {
                            created_at: "1 hour ago",
                            color: "indigo",
                            action: "Zrobił z automatu",
                            whom: "Michał Gwóźdź"
                        },
                        {
                            created_at: "10 min ago",
                            color: "cyan",
                            action: "Ukończyła zadanie #123",
                            whom: "Monika Chrzan"
                        }
                    ]
                },
                designs: {
                    display: "all",
                    items: [{
                            created_at: "Just now",
                            image: "https://www.crm.websitestyle.pl/uploads/display_5bbda4b1663b0.jpg",
                            status: "accepted",
                            author: "Monika Chrzan"
                        },
                        {
                            created_at: "Just now",
                            image: "https://www.crm.websitestyle.pl/uploads/display_5bbda4b1663b0.jpg",
                            status: "new",
                            author: "Monika Chrzan"
                        },
                        {
                            created_at: "Just now",
                            image: "https://www.crm.websitestyle.pl/uploads/display_5bbda4b1663b0.jpg",
                            status: "accepted",
                            author: "Monika Chrzan"
                        },
                        {
                            created_at: "Just now",
                            image: "https://www.crm.websitestyle.pl/uploads/display_5bbda4b1663b0.jpg",
                            status: "declined",
                            author: "Monika Chrzan"
                        },
                        {
                            created_at: "Just now",
                            image: "https://www.crm.websitestyle.pl/uploads/display_5bbda4b1663b0.jpg",
                            status: "new",
                            author: "Monika Chrzan"
                        },
                        {
                            created_at: "Just now",
                            image: "https://www.crm.websitestyle.pl/uploads/display_5bbda4b1663b0.jpg",
                            status: "declined",
                            author: "Monika Chrzan"
                        }
                    ]
                }
            };
        },
        mounted() {
            this.getProject();
            this.getCosts();
        },
        computed: {
            chat() {
                let chatOrigin = {
                    title: "Chat",
                    users: [],
                    messages: []
                };
                let chat = getChatById(this.$route.params.uuid);
                return Object.assign(chatOrigin, chat);
            }
        },
        methods: {
            changeView(view) {
                this.state = view;
            },
            filterDesigns(type) {
                this.designs.display = type;
                console.log(this.designs.display);
            },
            listProjects() {
                this.$router.push("/projects/display");
            },
            getAvatar(uid) {
                return getUserById(uid).avatar;
            },
            getCosts() {
                var self = this;
                axios.get("http://crm.io/api/getprojects").then(
                    response => {
                        self.costs.items = response.data;
                        self.files.items = response.data;
                    },
                    error => {
                        console.error("Blad api");
                    }
                );
            },
            getProject() {
                var self = this;
                var project = this.id;
                axios({
                    method: "post",
                    url: "http://crm.io/api/getproject",
                    data: {
                        project: project
                    }
                }).then(function (response) {
                    console.log(response);
                    self.project = response.data;
                    self.loading.tasks = false;
                });
            }
        }
    };

</script>

<style lang="css" scoped>
    .project__section {
        margin-bottom: 50px;
    }

    .v-toolbar {
        z-index: 1;
    }

    .card--flex-toolbar {
        margin-top: -64px;
    }

    .added__people {
        display: flex;
    }

    .flex__between {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .flex__center {
        display: flex;
        justify-content: center;
        /* align-itemtodo: center; */
    }

    .task__action__btn {
        justify-content: space-between;
        max-width: 160px;
        display: flex;
    }

    .task__action__btn button {
        margin: 0;
        margin-right: 5px;
    }

    .shift__badge {
        left: -10px;
        top: -10px;
        transform: scale(0.8);
    }

    .chat-room--scrollbar {
        height: 50vh;
    }

    .activities__padding {
        padding: 0;
    }

    .design img {
        max-width: 100%;
    }

    .design hr {
        margin-bottom: 5px;
    }

    .v-card__actions {
        justify-content: center;
    }

    .v-card__actions button {
        flex: 1 1;
    }

    .widget__heading {
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }

    .widget__heading i {
        margin-right: 10px;
    }

    .project__designs__count {
        margin: 10px !important;
        min-width: 68px;
    }

</style>
